body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

.events-container {
  flex: 1;
  border-right: 1px solid #333;
  padding-right: 20px;
  overflow-y: auto;
}

.charts-container {
  flex: 1;
  padding-left: 20px;
  overflow-y: auto;
}